@{
    ViewBag.Title = "Yetkinlikler";
}
@{
    ViewBag.Title = "EgitimBilgileri";
}
<section id="contents">
    <div class="page-head lined bg-white shadow-line ol-particles">
        <div class="container">
            <div class="tb-vcenter-wrapper">
                <div class="header-row">
                    <div class="header-column header-part hidden-xs">
                        <div class="header-logo" style="margin-top:unset">
                            <a href="">
                                <img src="~/Content/img/ikon.png" style="height:50px; margin:18px 5px 5px 0px;">
                            </a>
                        </div>
                        <div>
                            <div class="row">
                                <span class="header-nav-title" style="float:left;">
                                    Computer Engineer <br /> Full Stack Developer
                                    <br />
                                </span>
                                <div class="text-right" style="float: right;margin-top: 15px">
                                    <nav class="header-nav-top">
                                        <ul class="nav nav-pills">
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-column header-part hidden-lg">
                        <div class="header-home-page-icon" style="width:60%;float: left;">
                            <a href="/">
                                <i class="fa fa-home"></i> Computer Engineer <br /> Full Stack Developer
                            </a>
                        </div>
                        <div class="text-right" style="float: right;">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills">
                                </ul>
                            </nav>
                        </div>
                        <div class="sp-blank-15"></div>
                        <div class="social-media-links">
                            <div class="contact">
                                <a href="https://www.facebook.com/erdaaldanis" title="Facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://twitter.com/erdaaldanis" title="Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://github.com/erdaldanis" title="Github">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/erdaldanis/" title="LinkedIn">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.instagram.com/erdaldanis/" title="Instagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-wrapper vcenter">
                    <h2>
                        <i class="fas fa-archway"></i>
                        Yetkinlikler
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contents">
    <section id="main-area">
        <section class="section section-narrow">
            <div class="container">
                <div class="row flexColumns">
                    <div class="col-md-6">
                  
                        <ul class="with-shaded-label">
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>C++</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>ASP .NET</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Teknoloji</span>Git</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>Django</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>HTML 5</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>Pyhton</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>JavaScript</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>MySQl , SQl</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>MVC</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col-md-6">
                     
                        <ul class="with-shaded-label">
                            <li>
                            <h3 class="title"> <span class="shaded-label">Yazılım</span>C#</h3>
                            <div class="description">
                                <p>
                                    Yeterlilik :
                                    <span>&#9733;&#9733;&#9733;&#9733;</span>
                                </p>
                            </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>Wordpress </h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Teknoloji</span>Seo ( Arama Motoru Optimizasyonu )</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Teknoloji</span>C</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>CSS</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>Arduino</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>Kabuk Programlama</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Teknoloji</span>Linux Sistemleri </h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <h3 class="title"> <span class="shaded-label">Yazılım</span>java FX</h3>
                                <div class="description">
                                    <p>
                                        Yeterlilik :
                                        <span>&#9733;&#9733;</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <
                </div>
            </div>
        </section>
    </section>
</section>
